.footer {
	background-color: rgb(173, 86, 255);
	width: 100%;
	/* height: 200px; */
	margin-top: 60px;
	border-top: 4px solid black;
}

.container {
	padding: 15px;

	@media screen and (min-width: 521px) {
		padding: 20px;
	}

	@media screen and (min-width: 768px) {
		padding: 30px;
		max-width: 1400px;
		margin: auto;
	}
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.address {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.addressList {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}

.location,
.phone,
.email {
	width: 310px;
	height: 34px;
	background-color: antiquewhite;
	border-radius: 10px;
}

.link {
}

.icon_wrapper {
	padding: 6px;
}

.icon {
	width: 24px;
	height: 24px;
}

.text {
	font-style: normal;
	/* padding: 6px 10px 6px 0; */
	vertical-align: sub;
}
/* .address_location,
.address_email,
.address_phone {
	display: inline-block;
	width: 40px;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: 2px solid black;
	margin-right: 10px;
}

.address_icon {
	width: 40px;
	height: 40px;
	padding: 6px;
}

.location,
.phone,
.email {
	display: inline-block;
	width: 340px;
	height: 40px;
	background-color: antiquewhite;
	border: 2px solid black;
	border-radius: 10px;
} */

.form {
}

.rights {
	text-align: center;
}
