.page {
	--gray-rgb: 0, 0, 0;
	--gray-alpha-200: rgba(var(--gray-rgb), 0.08);
	--gray-alpha-100: rgba(var(--gray-rgb), 0.05);

	--button-primary-hover: #383838;
	--button-secondary-hover: #f2f2f2;

	display: grid;
	grid-template-rows: 20px 1fr 20px;
	align-items: center;
	justify-items: center;
	min-height: 100svh;
	padding: 80px;
	gap: 64px;
	font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.145);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);

		--button-primary-hover: #ccc;
		--button-secondary-hover: #1a1a1a;
	}
}

/* ------------------------------------ M O B I L E */
/* ------------------------------------ T A B L E T */
/* ------------------------------------ D E S C K T O P */

.main {
	/* padding: 15px; */

	@media screen and (min-width: 521px) {
		/* padding: 20px; */
	}

	@media screen and (min-width: 768px) {
		/* padding: 30px; */
	}
}

.section {
	text-align: center;
	background-color: rgba(255, 240, 29, 0.2);
	border: 3px solid black;
	border-radius: 30px;
	box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 1);
	transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.hero {
	position: relative;
}
.title {
	text-transform: uppercase;
	font-size: 80px;
	padding: 40px;
}

.word1 {
	animation: color-animation 2500ms linear infinite;
	--color-1: #ff5900;
	--color-2: #00b3ff;
	--color-3: #ff58c4;
}
.word2 {
	animation: color-animation 2500ms linear infinite;
	--color-1: #ffae00;
	--color-2: #00ffe1;
	--color-3: #2949d7;
}

.word3 {
	animation: color-animation 2500ms linear infinite;
	--color-1: #00ffe1;
	--color-2: #ff58c4;
	--color-3: #00b3ff;
}

@keyframes color-animation {
	0% {
		color: var(--color-1);
	}
	32% {
		color: var(--color-1);
	}
	33% {
		color: var(--color-2);
	}
	65% {
		color: var(--color-2);
	}
	66% {
		color: var(--color-3);
	}
	99% {
		color: var(--color-3);
	}
	100% {
		color: var(--color-1);
	}
}

.description {
	font-size: 22px;
}

.heroImg {
	width: 1000px;
	height: 800px;
	margin: auto;
	background-image: url('../app/hero.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/* .ground {
	position: absolute;
	bottom: 80px;
	left: -50px;
	z-index: -1;
	width: 1000px;
	height: 800px;
	background-color: coral;
	border-radius: 50px;
} */
